@import 'variables';

.account {
    display: flex;
    flex-direction: column;
    align-items: center;

    form {
        max-width: 480px;
        padding: 0 2rem 1rem;
    }

    label {
        display: block;
        font-size: 100%;
        margin-bottom: .75rem;
        line-height: 2;
        font-weight: 600;
    }

    input {
        width: 100%;
        font-size: 100%;
        padding: .75rem;
        border: 2px solid $input-border-color;
        background: $input-color;

        &:focus {
            border-color: $button-color;
            outline: none;
        }
    }

    button[type=submit] {
        margin-block: 1em;
        padding: 1rem;
        font-size: 100%;
        color: white;
        font-weight: 500;
        background-color: $button-color;
        width: 100%;
        border: none;
        cursor: pointer;
        box-shadow: $button-shadow;
    }

    button[type=submit].button-delete {
        background-color: $button-negative-color;
        box-shadow: $button-negative-shadow;
    }

    a {
        color: $button-color;
    }

    span, p, ul {
        text-align: start;
    }

    .alertbox {
        display: none;
        margin-block-end: 1rem;

        .alerttext {
            flex: 1;
            margin: 1rem;
        }

        &.success {
            display: flex;
            background-color: $success-background-color;
            border: 2px solid $success-border-color;
        }

        &.error {
            display: flex;
            background-color: $error-background-color;
            border: 2px solid $error-border-color;
        }

        .closebtn {
            background-color: transparent;
            width: 1rem;
            height: 1rem;
            padding: 0;
            margin: 1rem;
            border: none;
            color: inherit;
            cursor: pointer;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}