/*
 * SPDX-FileCopyrightText: 2023 Javier Pérez
 * SPDX-FileCopyrightText: 2025 horblegorble
 *
 * SPDX-License-Identifier: Apache-2.0
 */

@use 'variables' as v;

div.container {
  text-align: center;
  div {
    padding: 50px 0;
    h1, h2 {
      font-size: 45px;
      color: v.$header-color;
    }
    img {
      margin: 0 auto;
    }
  }
}

a.flatpak {
  background: none;
}

video:focus, a:focus {
    outline: none;
}

.page-content > h1,
.page-content > h2,
.page-content > h3,
.page-content > h4,
.page-content > h5,
.page-content > h6 {
  padding-top: 1.2rem;
}

tbody.alternating-rows tr:nth-child(odd){
  background-color: #2b303b;
}