@import 'variables';

// This overrides some site-wide colors for users who prefer a dark theme

@media (prefers-color-scheme: dark) {
	// note: the navbar is always white on black

	// overrides from _layout.scss
	main {
		color: $negative-text-color;
		background-color: #161616;
	}

	a.header-link * {
		color: $negative-text-color;
	}

	// overrides from _feather.scss
	h1, h2, h3, h4, h5, h6 {
		color: $negative-text-color;
	}

	pre {
		background-color: #2b303b;
	}

	code {
		color: white;
		background-color: #2b303b;
	}

	blockquote {
		border-left-color: #24221a;
	}
}
