@import 'variables';

// Horizonal lines
hr {
	height: 1px;
	width: calc(100% - 96px);
	background: #edeeef;
	height: 1px;
	border: none;
	margin-bottom: 3em;

	@media (max-width: $mobile-width){
		width: calc(100% - 32px);
	}
}

blockquote {
	font-style: italic;

	@supports (font-variation-settings: normal) {
		font-variation-settings: 'ital' 1;
	}

	color: #777777;
	border-left: 3px solid #edeeef;
	max-width: 750px;
	blockquote {
		// add margin to nested blockquotes
	    margin-left: .5em;
	    margin-bottom: 0;
	    p {
	    	margin: .75em 0;
	    }
	}
	p {
		margin: 0;
		padding-left: 2em;
	}

	margin: 36px 0;
}

section {
	margin: 3em 0;
}

.read-more-container {
	display: flex;
	justify-content: flex-end;
	font-size: 1.25em;
}

// Optional filename field that goes before a pre
.filename {
	display: block;
	background: #444c5b;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	position: relative;
	bottom: -40px;

	div {
		font-size: 14px;
		font-family: "Lucida Console", Monaco, monospace;
		color: #c0c5ce;
		background: #2b303b;
		display: inline-block;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		padding: 0 $hpadding;
		padding-top: 16px;
		padding-bottom: 6px;
	}

	@media (max-width: $mobile-width) {
		border-radius: 0;
		div {
			padding-left: $hpadding;
			padding-right: $hpadding;
			border-radius: 0;
		}
	}
}