@import 'variables';

// Variables and Mixins
$break-small: 500px; // at what point the site becomes "mobile"
$hpadding: 1.25rem; // The side-padding
$hpadding-small: .75rem; // The side-padding on mobile

// ------------------------------------------------ //
//					  Typography 					//
// -------------------------------------------------//

// Headers
h1, h2, h3, h4, h5, h6 {
	font-family: $title-font;
	font-weight: 700;
	margin-bottom: .75em;
	line-height: 1.3;
	color: #414142;
	margin-top: 1.5rem;
	margin-bottom: .8rem;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
	font-size: 2.441rem;
}

h3 {
	font-size: 1.953rem;
}

h4 {
	font-size: 1.563rem;
}

h5 {
	font-size: 1.25rem;
}

.title-container {
	margin-bottom: 2.25em;
}

// Horizonal lines
hr {
	height: 1px;
	width: calc(100% - 96px);
	background: #edeeef;
	height: 1px;
	border: none;
	margin-bottom: 48px;

	@media (max-width: $break-small){
		width: calc(100% - 32px);
	}
}

// paragraphs and lists
p, ul, ol {
	font-family: $body-font;
	font-size: $body-font-size;
	letter-spacing: $body-letter-spacing;
	text-align: justify;
	margin-bottom: 1em;
}

ul, ol {
	padding-left: 2em;
	@media (max-width: $break-small){
		list-style-position: inside;
	}
}

li {
	list-style-type: square;
	padding: .5em 0;
}

// text styles
em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

// blockquotes
blockquote {
	font-style: italic;
	color: #777777;
	border-left: 3px solid #edeeef;
	max-width: 750px;
	blockquote {
		// add margin to nested blockquotes
	    margin-left: 8px;
	    margin-bottom: 0;
	    p {
	    	margin: 12px 0;
	    }
	}
	p {
		margin: 0;
		padding-left: 32px;
	}

	margin: 36px 0;
}

// Links and Selections
a {
	color: $link-color;

	&:hover {
		text-decoration: none;
	}
}

::selection {
	background: rgba(237, 18, 73,0.5); /* WebKit/Blink Browsers */
}

section {
	margin: 46px 0;
}

// ------------------------------------------------ //
//					  Code Blocks 					//
// -------------------------------------------------//

// an optional filename field that goes before a pre
.filename {
	display: block;
	background: #444c5b;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	position: relative;
	bottom: -40px;

	div {
		font-size: 14px;
		font-family: "Lucida Console", Monaco, monospace;
		color: #c0c5ce;
		background: #2b303b;
		display: inline-block;
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		padding: 0 $hpadding;
		padding-top: 16px;
		padding-bottom: 6px;
	}

	@media (max-width: $break-small) {
		border-radius: 0;
		div {
			padding-left: $hpadding;
			padding-right: $hpadding;
			border-radius: 0;
		}
	}
}

// Code
pre, code {
	font-family: "Lucida Console", Monaco, monospace;
}

// Inline code
code {
	white-space: pre;
	white-space: pre-wrap;
	background: #edeef2;
	border-radius: 4px;
	padding: 2px 6px;
}

pre {
	display: block;
	margin: 36px 0;
	padding: 36px $hpadding;
	border-radius: 4px;
	font-size: .8rem;
	line-height: 1.4;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #f9f9f9;
	code {
		padding: 0;
		font-size: 100%;
		color: inherit;
		background-color: transparent;
	}
	@media (max-width: $break-small){
		padding-left: $hpadding-small;
		padding-right: $hpadding-small;
		border-radius: 0;
	}
}