@import 'variables';

img {
	border-radius: .25em;
}

.inline-image {
	display: block;
	text-align: center;
	margin: 1em auto;

	a {
		cursor: zoom-in;
	}

	img {
		display: inline;
		max-width: 100%;
		margin: 0;
	}

	figcaption {
		padding-top: 0.5em;
		font-style: italic;
		color: #777777;

		p {
			text-align: center;
		}
	}
}

.ratio169 {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;

	& > iframe, & > img {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

.gallery {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	gap: 1em;
	margin-top: 4em;
	margin-bottom: 2em;

	img {
		max-width: 90vw;
		max-height: 90vh;
	}
}

.header-video {
	margin: 0 auto;
	line-height: 0;
	max-width: $main_width;
}