@import 'variables';

html, body {
	min-height: 100vh;
}

body {
	position: relative;
	background-color: black;
	display: flex;
	flex-flow: column;
	line-height: 1.75;
	overflow-wrap: break-word;

	@media (min-width: $main_width) {
		padding-bottom: 2em;
		background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(bg_main.png);
		background-size: cover, cover;
		background-repeat: no-repeat, no-repeat;
		background-position: center bottom, center bottom;
		background-attachment: fixed, fixed;
	}
}

main {
	background-color: #f2f2EC;
	min-height: 80vh;
	color: $text-color;
	padding: 0.5em 1em 1em 1em;
	max-width: $main_width;

	@media (min-width: $main_width) {
		margin: 0 auto;
		// increase padding on large screens
		padding: 0.5em 4em 1em 4em;
	}
}

td {
	padding: 5px;
}
