@import 'variables';

a {
	color: $link-color;
	text-decoration-thickness: 1px;

	&:hover {
		text-decoration: none;
	}
}

// Blog preview titles
.header-link {
  color: inherit;
  text-decoration-color: $link-color;
  text-decoration-thickness: 2px;
	text-underline-offset: 4px;
}

nav a {
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
}

::selection {
	background: $selection-color;
}

*:focus {
	outline: red solid 2px;
}