@import 'variables';

nav {
  font-family: $navbar-font;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: $main_width;
  height: 4em;
  background-color: $background-color-200;
  margin: 0 auto;
}

.navbar-section {
  display: flex;
  height: 100%;

  a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    font-weight: normal;
    color: $negative-link-color;

    &:hover{
      color: $negative-link-color;
    }

    span {
      margin-left: .3em;
      white-space: nowrap;
    }
  }
}

.navbar-logo {
  img {
    max-height: 40px;
    padding: 5px 0;

    transition: filter 0.3s ease;
    &:hover {
      filter: brightness(110%);
    }
  }
}

.navbar-hamburger-section {
  display: none;
}

.nav-content-hidden {
  display: flex;
}

@media screen and (max-width: $mobile-width) {
  #navbar-links {
    position: absolute;
    flex-direction: column;
    background-color: #0d0d13;
    width: 100%;
    align-items: center;
    top: 4em;
    padding: 20px 0;
    height: auto;
  }

  #navbar-links a {
    padding: 20px 0;
  }

  .navbar-hamburger-section {
    color: $negative-text-color;
    display: block;
    padding: 1.2em;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  .nav-content-hidden {
    display: none;
  }
}
