@import 'variables';

.post-overview {
	display: flex;
	flex-flow: row nowrap;

  & > .thumbnail {
    flex: 0 0 auto;

    & > a > img {
      border-radius: 4px;
    }
  }
  & > .overview {
    flex: 1 1 auto;
    padding-left: 16px;
    .title {
      margin-top: 0;
    }
  }
}

.info {
	display: flex;
  text-transform: uppercase;
	font-size: .75em;
	color: $info-color;

	.divider::before {
		padding: 0 .5em;
		content: "•";
	}

	@media (max-width: $mobile-width){
		padding: 0 $hpadding-small;
	}
}