@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  font-display: block;
  src: url("fonts/Inter-Bold.woff2?v=3.16") format("woff2"),
}

@font-face {
  font-family: 'Open Sans';
  font-style:  normal;
  font-weight: 400;
  font-display: block;
  src: url("fonts/OpenSans-Regular.woff2?v=3.16") format("woff2"),
}

$system_fonts: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial;

$title-font: 'Inter', $system_fonts, sans-serif;
$body-font: 'Open Sans', $system_fonts, sans-serif;
$navbar-font: $body-font;

$body-font-size: 1.1em;

$background-color-100: black;
$background-color-200: #0d0d13;

$text-background-color: #f2f2EC;

$text-color: black;
$negative-text-color: #ececec;

$link-color: #ed1249;
$negative-link-color: $negative-text-color;

$info-color: grey;