@font-face {
  font-family: "Inter";
  font-style:  normal;
  font-weight: 300 900;
  font-display: fallback;
  src: url("fonts/Inter.var.woff2?v=3.18") format("woff2"),
}

$system_fonts: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica, Arial;

$title-font: 'Inter', $system_fonts, sans-serif;
$body-font: $title-font;
$navbar-font: $body-font;

$body-font-size: 1.1em;
$body-letter-spacing: -0.013em;

$background-color-100: black;
$background-color-200: #0d0d13;

$text-background-color: #f2f2EC;

$text-color: black;
$negative-text-color: #ececec;

$link-color: #ed1249;
$negative-link-color: $negative-text-color;

$info-color: grey;