{# Transforms a Discord media URL to its equivalent CDN URL and discards the query component.
It's assumed the benefit of the CDN URL is that it's faster to load,
however it cannot be resized with query parameters.
The macro doesn't check if the provided input is a valid Discord media URL. #}
{% macro to_discord_cdn(url) -%}
  {{ url
  | replace(from="media.discordapp.net", to="cdn.discordapp.com")
  | split(pat="?")
  | first }}
{%- endmacro to_discord_cdn %}

{# Transforms a Discord CDN URL to its equivalent media URL and discards the query component.
The benefit of "media.discordapp.net" is that it allows resizing by appending query parameters.
The query parameter format for that is `?width=<width>&height=<height>`,
with integer values in the angle brackets.
The macro doesn't check if the provided input is a valid Discord CDN URL. #}
{% macro to_discord_media(url) -%}
  {{ url
  | replace(from="cdn.discordapp.com", to="media.discordapp.net")
  | split(pat="?")
  | first }}
{%- endmacro to_discord_media %}

{% macro resize_discord_image(url, width, height) -%}
  {% if url is containing("cdn.discordapp.com") %}
    {% set url = url
    | replace(from="cdn.discordapp.com", to="media.discordapp.net")
    | split(pat="?")
    | first %}
  {% elif url is containing("media.discordapp.net") %}
    {% set url = url
    | split(pat="?")
    | first %}
  {% else %}
    {{ throw(message="Non-Discord URL was provided!") }}
  {% endif %}
  {% set query_param = "?width=" ~ width ~ "&height=" ~ height %}
  {{ url ~ query_param }}
{%- endmacro resize_discord_image %}

{# Wraps given string into a mention element if it matches Discord's username format,
either with or without the discriminator. #}
{% macro to_mention(username) -%}
  {% if username is matching("^@[^#]+(?:#\d{4})?$") %}
    {{ '<span class="mention">' ~ username ~ '</span>' }}
  {% endif %}
{%- endmacro to_mention %}

{# I don't want to talk about it. #}
{% macro replace_tags_with_mentions(s) -%}
  {# This handles like 99% of the cases. If you find an edge case, add another filter. #}
  {% set words_list = s
                      | replace(from=">", to="> ") | replace(from=",", to=" ") | replace(from="!", to=" !")
                      | replace(from=".<", to=" ") | replace(from=":", to=" ")
                      | split(pat=" ") %}
  {% for word in words_list %}
    {% set word = word | trim %}
    {% if word is starting_with("@") %}
      {% set mention = '<span class="mention">' ~ word ~ '</span>' %}
      {# In case we accidentally nest mentions, this will undo it #}
      {% set nested_mention = '<span class="mention">' ~ mention ~ '</span>' %}
      {% set_global s = s
                        | replace(from=word, to=mention)
                        | replace(from=nested_mention, to=mention) %}
    {% endif %}
  {% endfor %}
  {{ s | safe }}
{%- endmacro replace_tags_with_mentions %}