<figure class="gallery">
  {% for url in srcs | split(pat="\n") %}
    {% set src = url | trim %}
    {% if src != "" %}
      <a href="{{ src }}"
        {% if size %}
          style="width: {{ size }}%;"
        {% endif %}
        target="_blank">
      <img src="{{ src }}"
        loading="lazy"
        style="cursor: zoom-in;">
      </a>
    {% endif %}
  {% endfor %}
  {% if caption %}
    <figcaption class="tight">
      <p>{% if emoji %}{{ emoji }} {% endif %}{% if nonitalic %}{{ caption }}{% else %}<i>{{ caption }}</i>{% endif %}</p>
    </figcaption>
  {% endif %}
</figure>
