{% import "macros/transform.html" as transform %}
{#
	Sanitize the URL first. Discord has two domains for hosted images:
	- media.discordapp.net, which allows resizing
	- cdn.discordapp.com, which only hosts full resolution. Presumably it's faster.

	For full sized images, we want to always link to the cdn and strip any ?width=&height= parameters.
#}
{% set url = src %}
{% if url is containing("media.discordapp.net") %}
  {% set url = transform::to_discord_cdn(url=url) %}
{% endif %}
<figure class="inline-image">
  {# TODO: Extract image's intrinsic dimensions to assist with lazy loading #}
  <a href="{{ url }}" target="_blank"><img {% if alt %} alt="{{ alt }}" {% endif %} loading="lazy" src="{{ url }}"/>
  </a>
  {% if caption %}
    <figcaption>
      <p>{{ caption }}</p>
    </figcaption>
  {% endif %}
</figure>