<figure class="inline-image">
  <video controls
  {% if width %}width={{ width }}{% endif %}
  {% if height %}height={{ height }}{% endif %}
  {% if alt %}aria-label="{{ alt }}"{% endif %}
  {% if poster %}poster="{{ poster }}"{% endif %}>
    <source src="{{ src }}" type="{% if type %}{{ type }}{% else %}video/mp4{% endif %}">
    Your browser does not support the video tag.
    {% if src1 != "" %}
      <source src="{{ src1 }}" type="{% if type1 %}{{ type1 }}{% else %}video/mp4{% endif %}">
      Your browser does not support the video tag.
    {% endif %}
  </video>
  {% if caption %}
  <figcaption>
    <p>{% if emoji %}{{ emoji }} {% endif %}{% if nonitalic %}{{ caption }}{% else %}<i>{{ caption }}</i>{% endif %}</p>
  </figcaption>
  {% endif %}
</figure>
