{% extends "base.html" %}

{% block content %}
  <section class="post">
    <article>
      <div class="title-container">
        {% if page.title %}
          <h1>{{ page.title }}</h1>
          {% block readtime %}{% endblock readtime %}
          {% block author %}{% endblock author %}
        {% endif %}
      </div>
      
      {% if page.extra.banner is defined %}
        {% set url = page.extra.banner %}
        {% if url is containing("cdn.discordapp.com") %}
          {% set url = transform::to_discord_media(url=url) %}
        {% endif %}
        <figure class="inline-image">
          <img src="{{ url }}">
        </figure>
      {% endif %}
      
      {{ transform::replace_tags_with_mentions(content=page.content) }}
    </article>
    {% block support %}{% endblock support %}
  </section>
{% endblock content %}
